:root {
  --background-default: #F5F4F0;
  --border-primary: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;

  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--background-default);
  margin: 88px 80px;
}

#headline {
  color: var(--text-headline);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

h2#headline {
  margin-bottom: 8px;
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color: var(--text-primary);
}

img#foto1 {
  width: 1120px;
  height: 660px;
  border-radius: 28px;
}

h3 {
  font-size: 32px;
}