:root {
  --background-default: #F5F4F0;
  --border-primary: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;

  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  width: 92vw;
}

body {
  background-color: var(--background-default);
  margin: 88px 80px;
}

.headline {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #e1624f;
  text-transform: uppercase;
  margin-bottom: 8px;
}

h1 {
  font-size: 36pt;
  color: var(--text-primary);
}

img {
  height: 375px;
  object-fit: cover;
  /* Ajusta a proporção da imagem*/
  margin-top: 40px;
  border-radius: 28px;
}

img.foto1 {
  height: 660px;
  object-fit: cover;
  border-radius: 28px;
}

.subtitle {
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
  /* Muda estilo da fonte para itálico */
  text-align: center;
  color: var(--text-secondary);
  margin-top: 24px;
}

h2 {
  font-size: 32pt;
  color: var(--text-primary);
  margin-bottom: 8px;
}

p.legenda1 {
  color: var(--text-secondary);
  font-size: 16px;
  text-align: justify;
  margin-bottom: 64px;
}

p.legenda {
  color: var(--text-secondary);
  font-size: 16px;
  text-align: justify;
  margin-bottom: 48px;
}

ul li::marker {
  color: #333333;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}